* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}
html {
  background: url(../images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
input {
  opacity: 0.8;
  display: block;
  height: 60px;
  width: 450px;
  padding: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  resize: vertical;
  color: white;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.05);
}
input::placeholder {
  color: white;
}

/*nav start*/
.menu_icon {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
}
.ul_list {
  list-style: none;
  color: white;
  margin: 0px;
}
#nav-list {
  padding: 30px;
}
#nav-list li,
#footer-list li {
  display: inline-block;
}
#nav-list li a,
#footer-list li a {
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  padding: 50px 50px 0px 50px;
}
#right_footer_list {
  float: left;
}


#footer-list {
  color: #ffffff;
  font-family: "AvenirNext-DemiBold";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  letter-spacing: 2px;
}

#stamp {
  width: 33%;
}
#menu_icon {
  float: right;
}
#main {
  color: #fff;
  font-family: "Roboto";
  display: flex;
}


/*nav end*/

/*********/
/*left main start*/
#left-container {
  width: 50%;
  padding-top: 100px;
  padding-left: 150px;
  padding-bottom: 100px;
}
#space_div {
  height: 40px;
}
/*left main end*/

/*********/
/*right main start*/
#signup_header {
  margin-bottom: 25px;
  width: 430px;
  height: 21px;
  color: #ffffff;
  font-family: "AvenirNext-DemiBold";
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  letter-spacing: 2px;
}
#right-container {
  width: 500px;
  height: 440px;
  padding-top: 30px;
  padding-left: 100px;
}
#context-title {
  width: 555px;
  height: 246px;
  font-family: "AvenirNext-DemiBold";
  font-size: 72px;
  font-weight: 400;
  line-height: 82px;
  letter-spacing: -4px;
}
#context-paragraph {
  opacity: 0.4;
  width: 555px;
  height: 68px;
  font-family: "Roboto";
  font-size: 22px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: -0.2px;
}
.show_pwd{
  top: -40px;
  right: -400px;
  position: relative;
  list-style: none;
  outline:none;
  cursor: pointer;
}
#EYE{
  height: 30px;
  width: 30px;
}
#signup_btn {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 450px;
  height: 60px;
  background: #2c99ed;
  color: #fff;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
}
#cta_btn {
  width: 50px;
  display: inline-block;
}
#name_input {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.05);
}
#form_bottom_section {
  text-align: center;
}

/*footer section start*/
.row {
  display: inline;
  color: #fff;
}
.footer {
  position: relative;
  bottom: -50px;
  width: 100%;
}
#copy_footer {
  font-size: 15px !important;
}

.left_section {
  width: auto;
  text-align: left;
}

/*footer section end*/

/*font*/
@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "AvenirNext-DemiBold";
  src: url("../font/AvenirNext-DemiBold.ttf") format("truetype");
}

@media only screen and (max-width: 1200px) {
  #left-container {
    width: auto;
  }
  #right-container {
    width: 100%;
    position: relative;
    top: 400px;
    right: 650px;
  }
  .footer {
    right: 80px;
    bottom: -400px;
  }

  #nav-list li a,
  #footer-list li a {
    font-size: 15px;
    padding: 10px 10px 0px 10px;
  }
  #copy_footer {
    font-size: 10px !important;
  }
}

@media only screen and (max-width: 900px) {
  .left_section{
    width: 100%;
    text-align: center;
    bottom: -50px;
    right: 50px;
    position: relative;
  }
  #nav-list li a,
  #footer-list li a {
    padding: 5px 5px 0px 5px;
  }
  .footer {
    right: 0px;
    bottom: -400px;
  }
}
@media only screen and (max-width: 700px) {
  .footer {
    right: -100px;
    bottom: -400px;
  }
}
@media only screen and (max-width: 400px) {
  #stamp{
    width: 100%
  }
  .footer {
    right: -170px;
    bottom: -400px;
  }
  .left_section{
    bottom: -150px;
    right: 0px;
  }
  .contact, .help, .terms, .privacy{
    width: 100%
  }
 #nav-list{
   position: relative;
   right: -137px;
 }

}